.overlay {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);

  .spinner {
    width: 32px;
    height: 32px;
    position: relative;
    border: 3px solid var(--primary-color);
    border-radius: 50%;

    &:before,
    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 3px;
      background-color: var(--primary-color);
      border-radius: 2px;
      transform-origin: 50% 0%;
    }

    &:before {
      height: 8px;
      left: 12px;
      top: 50%;
      animation: spin 6000ms linear infinite;
    }

    &:after {
      height: 10px;
      left: 12px;
      top: 50%;
      animation: spin 1000ms linear infinite;
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
