#edit-user-form {
  h1 {
    margin: 16px 24px;
  }

  .form {
    display: flex;
    flex-wrap: wrap;

    &__field {
      flex-basis: 100%;
      flex-grow: 1;
      margin: 8px;
    }
  }
}

@media (min-width: 600px) {
  #edit-user-form {
    .form {
      &__field {
        flex-basis: 30%;
        flex-grow: 1;
        margin: 8px;
      }
    }
  }
}
