.dashboard {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;

  &__item {
    width: 100%;
    margin: 0 0 1% 0;
    padding: 12px;
    background: var(--secondary-color);
    border-radius: 12px;
    color: var(--white-color);
  }
}

.stats {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__item {
    flex-grow: 1;
    width: 100%;
    text-align: right;

    h4 {
      margin-bottom: 0;
      font-size: 10px;
      text-transform: uppercase;
    }

    p {
      margin: 0;
      font-size: 20px;
    }
  }
}

@media (min-width: 768px) {
  .dashboard {
    &__item {
      width: 48%;
      margin: 1%;
      padding: 12px;
      background: var(--secondary-color);
      border-radius: 12px;
      color: var(--white-color);
    }
  }

  .stats {
    &__item {
      width: auto;
      margin: 0 4px;

      h4 {
        font-size: 16px;
      }

      p {
        font-size: 34px;
      }
    }
  }
}
