.btn-container {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 24px 16px 24px;

  .MuiButtonBase-root.btn {
    width: 100%;
    margin-left: 0;
    margin-bottom: 8px;
  }
}

.select-modal {
  height: 600px;

  .MuiList-root {
    height: 90%;
    overflow: auto;
  }
}

.search-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;

  .MuiInputBase-root {
    flex-grow: 1;
    width: 100%;
    margin: 16px 0;
  }

  h1 {
    margin: 16px 0;
  }
}

@media (min-width: 600px) {
  .search-row {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    .MuiInputBase-root {
      width: auto;
      margin: 0 16px;
    }
  }
}
