@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('../../fonts/Roboto-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  src: local('Roboto'), url('../../fonts/Roboto-Bold.ttf') format('opentype');
}

h1 {
  margin: 16px 24px;
  font-size: 24px;
  font-weight: 500;
}

h2 {
  margin: 16px 24px 8px 24px;
  font-size: 20px;
  font-weight: 500;
}
