@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('../../fonts/Roboto-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  src: local('Roboto'), url('../../fonts/Roboto-Bold.ttf') format('opentype');
}

h1 {
  margin: 16px 24px;
  font-size: 24px;
  font-weight: 500;
}

h2 {
  margin: 16px 24px 8px 24px;
  font-size: 20px;
  font-weight: 500;
}

.list {
  width: 100%;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 4px;

    span {
      flex-grow: 1;
      min-width: 8px;
      margin: 0 4px 4px 4px;
      border-bottom: 2px dotted var(--text-color);
    }
  }
}

.info-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .MuiListItem-root {
    flex-basis: 100%;
    flex-grow: 1;
    width: auto;
  }
}

@media (min-width: 768px) {
  .info-list {
    .MuiListItem-root {
      flex-basis: auto;
    }
  }
}
