@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('../../fonts/Roboto-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  src: local('Roboto'), url('../../fonts/Roboto-Bold.ttf') format('opentype');
}

h1 {
  font-size: 24px;
  font-weight: 500;
}
