// main colors
@import './utils/colors';

// typography
@import './utils/typography';

// mixins
@import './utils/mixins';

// layouts
@import './utils/layouts';

// override material components
@import './overrides/input';

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  color: var(--text-color);
  background: var(--bg-color);

  main {
    padding: 84px 20px 20px 20px;
  }
}
